* {
    margin: 0;
}
:root {
    --RobotBold-fontFamily: 'Roboto', sans-serif;
    --Robot-fontfamily: 'Source Sans 3', sans-serif;
}

header {
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBC7A4;
}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

nav {
    background-color: #BBC7A4;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    display: none;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    margin: 0.8em 0;
    width: 100%;
}

nav a {
    color: #2C363F;
    text-decoration: none;
    padding: 0 1em;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

nav li:hover {
    background-color: #F2F5EA;
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #BBC7A4;
    border: #2C363F solid 2px;
    cursor: pointer;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: #F2F5EA;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2C363F;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: #2C363F;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

main {
    width: 100%;
    margin: 0 auto;
    font-size: 1.2em;
}
.background-img {
    width: 100%;
    height: auto;
}
.backgound-img picture img {
    width: 100%;

}
h1 img {
    max-width: 250px;
    border-radius: 5%;
    opacity: 1;
    position: relative;
    top: 5px;
    width: 12vw;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

h2 {
    max-width: 100%;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
    top: 81px;
    background-position: center;
    background-size: cover;
    border: 1px;
    background-image: url(bilder/campus.jpg);
    background-repeat: no-repeat;
}

#main-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    background-color: #F2F5EA;
    
}

#main-img h2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 50px 0px 40px 0px;
    color: #E75A7C;
    font-size: 2em;
}

#main-img article {
    color: #E75A7C;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


#main-img .box1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5em;
    
}
picture.cupe {
    height: auto;
    
    border-radius: 239px;
}

#main-img .cupe img {
    width: 100%;
    border-radius: 254px;
}

.about-me {
    width: 50%;
    padding: 40px 50px;
}

.about-me h1 {
    padding-bottom: 2em;
    text-align: center;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
    font-size: 1.25em;
    color: #E75A7C;
}

.about-me p {
    padding-bottom: 2em;
    font-size: 1em;
    font-family: var(--Robot-fontfamily);
    font-weight: 400;
    color: #2C363F;
    text-align: justify;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #BBC7A4;
}
#foot {
    padding: 15px;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
    color: #2C363F;
}

#foot p {
    justify-content: center;
    padding-left: 50px;
    font-family: var(--Robot-fontfamily);
    font-weight: 400;
}


@media only screen and (min-width: 992px) {
    header {
        padding: 0 3em;
    }

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }
    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }
    nav li {
        display: inline;
        padding: 1.2em 0;
    }
    
}

@media only screen and (max-width: 992px) {
    h1 img {
        width: 20vw;
    }
    #main-img .box1, .box2  {
        flex-wrap: wrap;
    }
    picture.cupe {
        width: 75%;
        height: auto;
        padding: 30px;
    }
}

@media only screen and (max-width: 701px) {
    .about-me {
        width: 100%;
        padding: 20px 25px;
    }
}