body {
    max-width: 1820px;
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
}

:root {
    --latoFont-family: 'Lato', sans-serif;
    --RobotBold-fontFamily: 'Roboto', sans-serif;
    --Robot-fontfamily: 'Source Sans 3', sans-serif;
}


#main-img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    background-color: #f2f2f2;
    
}

#main-img h2 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    padding: 50px 0px 0px 0px;
    color: #E75A7C;
    font-size: 2em;
    font-family: var(--RobotBold-fontFamily);
}

#main-img article {
    color: #E75A7C;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}


#main-img .box1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 5em;
    
}
picture.cupe {
    height: auto;
    
    border-radius: 239px;
}

#main-img .cupe img {
    width: 100%;
    border-radius: 254px;
}

.about-me {
    width: 50%;
    padding: 40px 50px;
}


.about-me p {
    padding-bottom: 2em;
    font-size: 1.6em;
    font-family: var(--Robot-fontfamily);
    color: #2C363F;
    text-align: left;
    line-height: 1.4em;
}


.profile {
    width: 100%;
    display: flex;
    justify-content: center;
}


.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
}

.card img {
    border-radius: 50%;
    width: 250px;
    background-color: ghostwhite;
}

.cards {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cards h1 {
    font-size: 2em;
    margin: 8px 0;
}

.title {
    color: #494848;
    font-size: 1.4em;
    margin: 8px 0;
    text-align: left;
    
}

.yrke {
    font-size: 1.3em;
}

.icon-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.icon-list a {
    text-decoration: none;
    color: #555;
    margin: 0 8px;
    font-size: 20px;
}

.icon-list a:hover {
    color: #3498db;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}


h1 img {
    max-width: 250px;
    border-radius: 5%;
    opacity: 1;
    position: relative;
    top: 5px;

}

nav {
    background-color: #2b2e35;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    /* height: 35vh; */
    width: 250px;
    display: none;
    z-index: 1;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    margin: 0.8em 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #ADD8E6;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: #F2F5EA;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2C363F;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: #2C363F;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}


.headerOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2e35;
}

#search {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#search .search-engine {
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;

}


#search input[type=text] {
    padding: 12px;
    font-size: 17px;
    width: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

#search .search-btn {
    padding: 14px 30px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

#search .search-btn .fa-solid:before,
.site-header .second-motor .search-btn .fa-solid:before {
    content: "\f002";
}

#search .search-btn,
.site-header .second-motor .fa-magnifying-glass {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}


header .search-btn:hover {
    background: #ccc;
}

.header-section {
    display: flex;
}



/* .icon-list .fa-thin::before {
    width: 20px;
    content: "\e61b";
} */

.icon-list .fa-brands, .fa-thin {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5rem;
    
}


.second-motor {
    display: none;
}

button.search-btn {
    padding: 15px 20px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
}

textarea#comment {
    border-radius: 5px;
}



a:link,
a:visited {
    color: #aab5c0;
}

a:hover,
a:active {
    color: #b8d87f;
    text-decoration: underline;
}

.inner-wrap {
    width: 100%;
    margin: 0 auto;

}


.site-header {
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 9999;
    background-color: #2b2e35;
}

.site-header .inner-wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}

.site-header h1 {
    display: flex;
    flex-direction: row;
}

.site-header h1 {
    margin: 0;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}

.site-header ul {
    font-size: 16px;
    color: #b2c4d8;
    list-style: none;
    justify-content: end;
    display: flex;
    padding: 0px 30px 0px 0px;
}

.site-header ul li {
    width: 100%;
    padding: 10px 7px;
}



/* _________________________________ */

.vagn {
    display: flex;
    align-items: center;
    white-space: nowrap;
    list-style: none;
    gap: 10px;
}

.vagn button {
    color: #aab5c0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.vagn button:hover {
    color: #b8d87f;
}


.cart:hover {
    height: 100%;
    opacity: 1;
    transform: translateY(0);
}

.site-toolbar {
    width: 100%;
    height: 30px;
    z-index: 9999;
    background-color: #b8d87f;
}


label {
    color: white;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2b2e35;

}
#foot {
    padding: 15px;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#foot p {
    justify-content: center;
    font-family: var(--Robot-fontfamily);
    font-weight: 400;
    padding-bottom: 0;
    font-size: .75em;
}


.feedback_comments {
    color: #000000;
    max-width: 600px; /* Set a maximum width for the form */
    margin: 0 auto; /* Center the form horizontally */

}

/* textarea#comment, input[type="text"] {
    border-radius: 5px;
} */

.form-label {
    display: block;
    margin-bottom: 5px;
}

.feedback {
    background-color: var(--secondColor);
    border-radius: 10px;
}

.submit {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.submit:hover {
    opacity: .8;
}


.MyBtn {
    color: rgb(220, 72, 72);
    font-size: 1em;
    font-family: var(--latoFont-family);
	cursor: pointer;
    border: none;
    background-color: inherit;
    text-decoration: underline;
}



#eight {
    position: relative;
    /* background: #00306a; */
    background-color: #434f5b;
    width: 100%;
    bottom: 0;
    left: 0;
}

#eight::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #fff;
}

#eight .containerEight {
    margin: auto;
    padding: 30px 40px 40px 40px;
}


#eight .containerEight .topContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.containerEight .topContent .logoInfo {
    color: #fff;
    filter: invert(1);
    height: auto;
}
#eight .containerEight .topContent .logo_name img {
    width: 60%;
    max-width: 200px;
}

#eight .containerEight .topContent .logo_name img:hover {
    opacity: .4;
}

.containerEight .topContent .logoInfo:hover {
    color: #000;
    cursor: pointer;
}
.containerEight .topContent .socialMedia-icons {
    display: flex;
}
.containerEight .topContent .socialMedia-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.containerEight .topContent .socialMedia-icons a:hover {
    opacity: 0.4;
}

.containerEight .listContainer .list-holder li a:hover {
    opacity: .4;
}

.containerEight .topContent .logoInfo .logo_name {
    filter: invert(100%);

}

#eight .containerEight .listContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#eight .containerEight .listContainer .list-holder {
    width: calc((100% - 10px) / 1);
    padding-left: 20px;
}
.containerEight .listContainer .list-holder .list-name {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.listContainer .list-holder .list-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background-color: #fff;
}
.containerEight .listContainer .list-holder li {
    margin: 6px 0;
    list-style: none;
}
.containerEight .listContainer .list-holder li a {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    transition: all0.4s ease;
    text-decoration: underline;
    line-height: 1.2em;
}
.containerEight .listContainer .list-holder .list-name li a:hover {
    opacity: 2;
    text-decoration: none;
}

.legendComment {
    color: #ffffff;
}



@media only screen and (min-width: 1800px) {
    .product-add-to-cart {
        justify-content: space-around;
    }

    .about-me p {
        text-align: left;
    }
}

@media only screen and (min-width: 999px) {
    header {
        padding: 0 3em;
    }

    

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }

    nav li {
        display: inline;
        padding: 1.2em 0;
    }
    


}

@media only screen and (max-width: 999px) {
    ul.column-orderNav {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    #eight {
        position: relative;
    }
    .containerEight .topContent .socialMedia-icons {
        margin-top: 16px;
    }
    #eight .containerEight .listContainer .list-holder{
        padding: 7px;
        width: calc((100% / 2) - 10px);
        width: calc(100% / 2 - 10px);
    }
    /* .containerEight .listContainer .list-holder .list-name {
        font-size: 12px;
    } */
    #eight .containerEight .listContainer {
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    .inner-row {
        flex-wrap: wrap;
    }

    .filter-grid .filter-cell {
        display: grid;
        width: 50%;

    }

}

@media only screen and (max-width: 801px) {
    .about-me {
        width: 70%;
        padding: 20px 25px;
    }

    .card {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #search .search-btn {
        padding: 15px 20px;
    }
}



@media only screen and (max-width: 450px) {

    .products {
        width: 90%;
    }

    .site-header .inner-wrap .list-inline {
        flex-direction: column;
    }

    .site-header .inner-wrap {
        flex-direction: column;
        justify-content: end;

    }

    .site-header h1 {
        padding: 0;
    }

    #search input[type=text] {
        display: none;
    }

    .site-header .second-motor {
        display: flex;
        padding: 5px 0px;

    }
    button.search-btn {
        padding: 12px 20px;
    }

    #search .search-engine {
        display: none;
    }

    #eight .containerEight {
        padding: 0;
    }
    .containerEight .topContent .socialMedia-icons {
        flex-wrap: wrap;
    }

    #eight .containerEight .topContent {
        flex-direction: row;
    }
    #eight .containerEight .listContainer {
        flex-direction: column;
    }

    #foot h4 {
        padding-bottom: 5px;
        font-size: .80em;
        text-align: center;
    }
    #foot p {
        font-size: .75em;
        padding-left: 0;

    }


    ul.vagn.list-inline {
        padding-left: 0;
    }

    .vagn {
        white-space: normal;
        gap: 0px;
    }]

    .inner-row {
        flex-direction: column;
        
    }

    .filter-grid .filter-cell {
        width: 100%;
    }

    input[type="text"] {
        border-radius: 5px 0px 0px 5px;
        width: 100%;
    }

    #name, #mail {
        width: auto;
    }
}

@media only screen and (max-width: 450px) {
    .about-me {
        width: 90%;
        padding: 10px 15px;
    }

    .card {
        width: 100%;
        flex-direction: column;
    }
}
