* {
    margin: 0;
    box-sizing: border-box;
    max-width: 1600px;
}
body {
    background-color: #f1f1f1;
    font-family: Arial;
}

:root {
    --latoFont-family: 'Lato', sans-serif;
    --RobotBold-fontFamily: 'Roboto', sans-serif;
    --Robot-fontfamily: 'Source Sans 3', sans-serif;
}

header {
    margin: 0;
    position: relative;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	#4682B4;
}

header .search-btn:hover {
    background: #ccc;
}

.header-section {
    display: flex;
}

.lang-switcher {
    align-items: center;
    display: flex;
}

.lang-switcher .fa-beat-fade:before {
    width: auto;
    content: "\f0ac";
}

.fa-globe{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.5rem;
    padding-right: 5px;
    text-rendering: auto;
    color: #bbb;
    /* text-shadow: 2px 5px 3px rgb(0, 0, 0), 0 0 25px rgb(24, 24, 122), 0 0 5px rgb(123, 123, 123); */
    /* animation: icon;
    animation-duration: 3s;
    animation-iteration-count: infinite; */
    animation: glow 1s ease-in-out infinite alternate;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #87CEFA, 0 0 20px #B0C4DE, 0 0 30px #6495ED, 0 0 40px #00BFFF, 0 0 50px #1E90FF, 0 0 60px 	#4169E1, 0 0 70px 	#0000FF, 0 0 80px #0000CD;
    }
    to {
        text-shadow: 0 0 20px #90EE90, 0 0 30px #00FA9A, 0 0 40px #00FF7F, 0 0 50px #3CB371, 0 0 60px #2E8B57, 0 0 70px #228B22, 0 0 80px #008000;
    }
}


#lang-switch {
    width: fit-content;

}

.logo a {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    text-decoration: none;
}

h1 img {
    max-width: 250px;
    border-radius: 5%;
    opacity: 1;
    position: relative;
    top: 5px;
    
}



#search {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#search .search-engine {
    width: 50%;
    padding: 15px 10px 10px 10px;
    display: flex;
    align-items: center;
    
}


#search input[type=text] {
    padding: 15px;
    font-size: 17px;
    width: 100%;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

#search .search-btn {
    padding: 15px 40px;
    background: #ddd;
    font-size: 17px;
    
    border: none;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

#search .search-btn .fa-solid:before {
    content: "\f002";
}
#search .search-btn .fa-magnifying-glass {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

nav {
    background-color: #4682B4;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 35vh;
    width: 250px;
    display: none;
    z-index: 1;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li {
    margin: 0.8em 0;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1em;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

nav li:hover {
    background-color: hsla(0, 0%, 44%, 0.59);
    cursor: pointer;
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #ADD8E6;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
}

.open {
    margin: 0 1em;
}

.menu-btn:hover {
    background-color: #F2F5EA;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon {
    margin-right: 10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2C363F;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: #2C363F;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}




.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    width: 100%;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    border: none;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 8px 8px 0;
    user-select: none;
    background-color: #dddddd5b;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: auto;
    left:35%;
    top: 50%;
    height: fit-content;
    animation: glows 1s ease-in-out infinite alternate;

}


@keyframes glows {
    from {
        text-shadow: 0 0 10px #87CEFA, 0 0 20px #B0C4DE, 0 0 30px #6495ED, 0 0 40px #00BFFF, 0 0 50px #1E90FF, 0 0 60px 	#4169E1, 0 0 70px 	#0000FF, 0 0 80px #0000CD;
    }
    to {
        text-shadow: 0 0 20px #90EE90, 0 0 30px #00FA9A, 0 0 40px #00FF7F, 0 0 50px #3CB371, 0 0 60px #2E8B57, 0 0 70px #228B22, 0 0 80px #008000;
    }
}



/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.treDots {
    text-align: center;
    padding-top: 10px;
}

.point {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.main-picture {
    height: auto;
    position: relative;
    width: 100%;
    background-color: #F2F5EA;
}
.main-picture img {
    height: auto;
    width: 100%;
}


.row>.column {
    padding: 8px;
}

.column {
    width: 100%;
}

/* Rensa flytningar efter rader*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.row .rubrik {
    font-family: var(--RobotBold-fontFamily);
    padding: 20px;
    text-align: center;
    color: rgba(255, 0, 0, 0.6);
    font-size: clamp(20px, 3vw, 40px);
}

.content {
    background-color: white;
    padding: 10px;
    display: flex;
}


.first-text {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}

.text-holder {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.first-text h2 {
    padding-bottom: 10px;
    font-size: 3em;
    text-align: center;
    font-family: var(--RobotBold-fontFamily);
    color: #E75A7C;
    letter-spacing: 0.02em;
    font-weight: 700;
    
}

p {
    line-height: 1.2em;
    font-size: 1.5em;
    font-family: var(--Robot-fontfamily);
    font-weight: 400;
    padding-bottom: 20px;
    letter-spacing: 0.01em;
    word-break: break-word;
    
}

p, h1, h2, cite {
    max-width: 36em;
}

cite {
    font-style: normal;
}

.second-text {
    width: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px;
}

.seconText-holder {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    opacity: 0.8;
}

h2 {
    font-family: var(--RobotBold-fontFamily);
    font-size: 2em;
    font-weight: 700;
    
}

.seconText-holder h2 {
    padding: 15px;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

.seconText-holder p {
    width: 60%;
    text-align: center;
    letter-spacing: 0.01em;

}
.seconText-holder .thirdText {
    text-align: justify;
    letter-spacing: 0.01em;
    
}

#myBtn1 {
    color: rgb(220, 72, 72);
    font-size: 1em;
    font-family: var(--latoFont-family);
    cursor: pointer;
}

.content img {
    width: calc((100% + 22vw) / 2.5);
}

#column-one {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.last-img {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 50%;
    justify-content: space-around;
    background-color: white;
}

#column-one .last-img img {
    width: 100%;
}

.last-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.last-text  h2 {
    text-align: center;
    width: 70%;
}

.thirdText {
    text-align: center;
}


.new-order {
    padding: 40px 50px;
}


figcaption {
    background-color: ghostwhite;
    width: auto;
    padding: 50px 50px 50px 50px;
}

figcaption h2 {
    padding-bottom: 10px;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
}



figcaption ul {
    font-family: var(--RobotBold-fontFamily);
    font-weight: 600;
    line-height: 1.3em;
    padding-bottom: 15px;
    font-size: 1.3em;
}

#pesonal-image {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.content-one {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}


/* Responsiv layout - gör en layout med två kolumner istället för fyra kolumner */


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #072E33;
}
#foot {
    padding: 15px;
    font-family: var(--RobotBold-fontFamily);
    font-weight: 700;
    color: white;
}
#foot p {
    justify-content: center;
    padding-left: 50px;
    font-family: var(--Robot-fontfamily);
    font-weight: 400;
}


#more, #more1 { 
    display: none;
}


.MyBtn {
    color: rgb(220, 72, 72);
    font-size: 1em;
    font-family: var(--latoFont-family);
	cursor: pointer;
    border: none;
    background-color: inherit;
    text-decoration: underline;
}



#eight {
    position: relative;
    background: #00306a;
    width: 100%;
    bottom: 0;
    left: 0;
}

#eight::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #fff;
}

#eight .containerEight {
    margin: auto;
    padding: 40px;
}


#eight .containerEight .topContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.containerEight .topContent .logoInfo {
    color: #fff;
    
    height: auto;
}
#eight .containerEight .topContent .logo_name img {
    width: 200px;
}
.containerEight .topContent .logoInfo:hover {
    color: #000;
    cursor: pointer;
}
.containerEight .topContent .socialMedia-icons {
    display: flex;
}
.containerEight .topContent .socialMedia-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
}
.containerEight .topContent .logoInfo .logo_name {
    filter: invert(100%);
    
}

#eight .containerEight .listContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#eight .containerEight .listContainer .list-holder {
    width: calc((100% - 10px) / 5);
}
.containerEight .listContainer .list-holder .list-name {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
}
.listContainer .list-holder .list-name::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background-color: #fff;
}
.containerEight .listContainer .list-holder li {
    margin: 6px 0;
    list-style: none;
}
.containerEight .listContainer .list-holder li a {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all0.4s ease;
}
.containerEight .listContainer .list-holder .list-name li a:hover {
    opacity: 2;
    text-decoration: none;
}


@media only screen and (min-width: 1083px) {
    /* header {
        padding: 0 3em;
    } */

    .menu-btn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }
    header {
        position: static;
    }

    nav {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul {
        height: 100%;
    }
    nav li {
        display: inline;
        padding: 1.2em 0;
    }
    
    
}

@media only screen and (max-width: 992px) {
    #main-img {
        flex-wrap: wrap;
    }

    figcaption {
        padding: 20px;
    }
    
    
}

@media screen and (max-width: 800px) {
    .last-img {
        width: 100%;
    }
    .seconText-holder {
        width: 70%;
    }

    .main-picture h2 {
        right: 30%;

    }

    figcaption p  {
        width: 100%;
    }

    .seconText-holder p {
        width: 100%;
    }
    

    .last-text  h2 {
        text-align: center;
        width: 90%;
    }
    
    .thirdText {
        text-align: center;
        width: 90%;
    }
    
}

/* Responsiv layout - gör att de två kolumnerna staplas ovanpå varandra istället för bredvid varandra*/
@media screen and (max-width: 700px) {
    .column {
        width: 100%;
    }
    #column-one {
        width: 100%;
    }

    .column-main .content-main {
        flex-wrap: wrap;
    }
    .column-main .content-main .new-order {
        order: 2;
    }
    .column-main .content-main img {
        width: 100%;
    }

    #column-one .last-img img {
        width: 100%;
        
    }

    .seconText-holder {
        width: 100%;
        padding: 20px;
    }

    figcaption {
        padding: 15px;
    }
    .last-text h2 {
        text-align: left;
    }

    .thirdText {
        text-align: left;
    }

    #search {
        justify-content: safe;
    }

    #search .search-engine {
        float: none;
        width: 80%;
        padding: 0px auto;
    }
    #search .search-btn {
        float: none;
        display: block;
        text-align: left;
        margin: 0;
        padding: 14px;
    }
    #search input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
        border: 1px solid #ccc;  
    }

}
@media screen and (max-width: 450px) {
    .main-picture h2 {
        top: 40px;

    }
    
    h1 img {
        width: 25vw;
    }

    #search .search-engine {
        padding: 10px 10px 0px 10px;
    }

    figcaption {
        padding: 5px;
    }

    .new-order {
        padding: 20px 25px;
        font-size: 10px;
    }

    #foot h5 {
        padding-bottom: 5px;
        font-size: 12px;
    }
    #foot p {
        font-size: 12px;
        padding-left: 0;
        
    }

}
